nav {
  width: 100%;
  
  justify-content: center;

  display: flex;
}

.drop {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #c06162;
  background: #34495e;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
}

.drop:hover {
  background: #2980b9;
  cursor: pointer;
}

.drop:hover .dropdown_menu li {
  display: block;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}

.dropdown_menu li {
  display: none;
  color: #fff;
  background-color: #34495e;
  padding: 10px 20px;
  font-size: 16px;
  opacity: 0;
}

.dropdown_menu li:hover {
  background-color: #2980b9;
}

.drop:hover .dropdown_menu--animated {
  display: block;
}

.dropdown_menu--animated {
  display: none;
}

.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}

.dropdown_menu-10 {
  animation: rotateY 300ms ease-in-out forwards;
  transform-origin: top center;
}



@keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }

  80% {
    transform: rotateY(-10deg);
  }

  100% {
    transform: rotateY(0);
  }
}